body{
    margin: 0px;
    padding: 0px;
}

.fx-column{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link{
    text-decoration: none;
    font-size: 50px;
    margin-bottom: 10px;
    border: 3px solid;
    padding: 3px;
    border-color: rgb(0, 255, 255);
    border-radius: 20px;
    color: rgb(0, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    margin-top: 10px;
}

.link:hover{

    background-color: aliceblue;
    border-color: aliceblue;
    color: red;
    transition: 0.2s;
}

.imagem{
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.paragrafo{
    text-align: justify;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px; 
    line-height: 1em;
}

.imput{
    font-size: 40px;
    
}

.button{
    font-size: 40px;
}

.footer{
    margin-top: 10px;
    height: auto;
    width: 100%;
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main{
    font-size: 35px;
    padding-top: 25px;
}
.mg-bt-25px{
    margin-bottom: 25px;

}

.mg-bt-15px{
    margin-bottom: 15px;

}